In [1]:
import pandas as pd
bikes = pd.read_csv('BikeData.csv')

In [2]:
bikes

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,467,177
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,296,63
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,571,665
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,171,457
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,442,401

In [4]:
#вывожу первый столбец рядов с 100 по 120
bikes.iloc[100:120, 0]

100    05/12/2017
101    05/12/2017
102    05/12/2017
103    05/12/2017
104    05/12/2017
105    05/12/2017
106    05/12/2017
107    05/12/2017
108    05/12/2017
109    05/12/2017
110    05/12/2017
111    05/12/2017
112    05/12/2017
113    05/12/2017
114    05/12/2017
115    05/12/2017
116    05/12/2017
117    05/12/2017
118    05/12/2017
119    05/12/2017
Name: Date, dtype: object

In [5]:
# вывожу список колонок (на данном этапе можно переименовать)
bikes.columns

Index(['Date', 'Hour', 'Temperature', 'Humidity', 'Wind speed', 'Rainfall',
       'Snowfall', 'Seasons', 'Holiday', 'Functioning Day', 'Partner 1',
       'Partner 2'],
      dtype='object')

In [6]:
# размеры датафрейма
bikes.shape

(8760, 12)

In [9]:
# информация о датафрейме
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             8760 non-null   object
 1   Hour             8760 non-null   int64
 2   Temperature      8581 non-null   float64
 3   Humidity         8760 non-null   int64
 4   Wind speed       8760 non-null   float64
 5   Rainfall         8760 non-null   float64
 6   Snowfall         8760 non-null   float64
 7   Seasons          8760 non-null   object
 8   Holiday          8760 non-null   object
 9   Functioning Day  8760 non-null   object
 10  Partner 1        8760 non-null   int64
 11  Partner 2        8760 non-null   int64
dtypes: float64(4), int64(4), object(4)
memory usage: 821.4+ KB

In [12]:
# выбрать одну колонку
bikes['Hour']

0        0
1        1
2        2
3        3
4        4
        ..
8755    19
8756    20
8757    21
8758    22
8759    23
Name: Hour, Length: 8760, dtype: int64

In [13]:
# выбрать уникальные значения
bikes['Seasons'].unique()

array(['Winter', 'Spring', 'Summer', 'Autumn'], dtype=object)

In [14]:
# выбрать несколько колонок
bikes[['Partner 1', 'Partner 2']]

      Partner 1  Partner 2
0           207         50
1           139         80
2            22        140
3            43        105
4            59         38
...         ...        ...
8755        467        177
8756        296         63
8757        571        665
8758        171        457
8759        442        401

[8760 rows x 2 columns]

In [15]:
# выбрать какой-то ряд
bikes.iloc[124]

Date               06/12/2017
Hour                        4
Temperature              -3.4
Humidity                   75
Wind speed                0.0
Rainfall                  0.0
Snowfall                  0.4
Seasons                Winter
Holiday            No Holiday
Functioning Day           Yes
Partner 1                  36
Partner 2                   4
Name: 124, dtype: object

In [16]:
# выбрать значение в ячейке
bikes.iloc[124]['Partner 1']

36

In [17]:
# выбрать только те дни, которые выпали на праздники (праздников не так много)
bikes['Holiday'] == 'Holiday'

0       False
1       False
2       False
3       False
4       False
        ...
8755    False
8756    False
8757    False
8758    False
8759    False
Name: Holiday, Length: 8760, dtype: bool

In [18]:
# использовать полученный ранее массив для фильтрации
bikes[bikes['Holiday'] == 'Holiday']

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
504,22/12/2017,0,-1.7,79,0.5,0.0,0.8,Winter,Holiday,Yes,58,38
505,22/12/2017,1,-1.6,79,0.6,0.0,0.8,Winter,Holiday,Yes,205,203
506,22/12/2017,2,-1.1,79,0.7,0.0,0.8,Winter,Holiday,Yes,46,86
507,22/12/2017,3,-0.6,76,0.5,0.0,0.7,Winter,Holiday,Yes,94,41
508,22/12/2017,4,-0.3,76,0.9,0.0,0.7,Winter,Holiday,Yes,12,27
...,...,...,...,...,...,...,...,...,...,...,...,...
7507,09/10/2018,19,17.3,47,2.2,0.0,0.0,Autumn,Holiday,No,0,0
7508,09/10/2018,20,17.0,49,1.4,0.0,0.0,Autumn,Holiday,No,0,0
7509,09/10/2018,21,16.8,52,1.6,0.0,0.0,Autumn,Holiday,No,0,0
7510,09/10/2018,22,16.7,55,1.9,0.0,0.0,Autumn,Holiday,No,0,0
7511,09/10/2018,23,16.6,53,1.1,0.0,0.0,Autumn,Holiday,No,0,0

In [21]:
# получить праздничные дни с температурой >=15 градусов
bikes[(bikes['Holiday'] == 'Holiday') & (bikes['Temperature'] >= 15)]

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
3624,01/05/2018,0,18.3,78,0.8,0.0,0.0,Spring,Holiday,Yes,624,109
3625,01/05/2018,1,18.3,83,1.1,0.0,0.0,Spring,Holiday,Yes,554,555
3626,01/05/2018,2,18.2,85,0.8,0.0,0.0,Spring,Holiday,Yes,11,442
3627,01/05/2018,3,18.1,85,1.0,0.0,0.0,Spring,Holiday,Yes,3,340
3628,01/05/2018,4,18.0,85,0.3,0.0,0.0,Spring,Holiday,Yes,144,2
...,...,...,...,...,...,...,...,...,...,...,...,...
7507,09/10/2018,19,17.3,47,2.2,0.0,0.0,Autumn,Holiday,No,0,0
7508,09/10/2018,20,17.0,49,1.4,0.0,0.0,Autumn,Holiday,No,0,0
7509,09/10/2018,21,16.8,52,1.6,0.0,0.0,Autumn,Holiday,No,0,0
7510,09/10/2018,22,16.7,55,1.9,0.0,0.0,Autumn,Holiday,No,0,0
7511,09/10/2018,23,16.6,53,1.1,0.0,0.0,Autumn,Holiday,No,0,0

In [22]:
# получить или праздники или дни с температурой >= 15
bikes[(bikes['Holiday'] == 'Holiday') | (bikes['Temperature'] >= 15)].shape

(4310, 12)

In [23]:
# получить не праздники и не жарче 15 градусов - используется тильда ~
bikes[~((bikes['Holiday'] == 'Holiday') | (bikes['Temperature'] >= 15))].shape

(4450, 12)

In [24]:
# проверяет является ли ячейка без значения (так же можно использовать как условие для фильтрации)
bikes['Temperature'].isna()

0       False
1       False
2       False
3       False
4       False
        ...
8755    False
8756    False
8757    False
8758    False
8759    False
Name: Temperature, Length: 8760, dtype: bool

In [25]:
# фильтрация по .isna()
bikes[bikes['Temperature'].isna()]

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
39,02/12/2017,15,NaN,41,2.3,0.0,0.0,Winter,No Holiday,Yes,490,198
50,03/12/2017,2,NaN,79,1.4,0.0,0.0,Winter,No Holiday,Yes,208,54
64,03/12/2017,16,NaN,77,1.6,0.0,0.0,Winter,No Holiday,Yes,49,528
105,05/12/2017,9,NaN,31,1.3,0.0,0.0,Winter,No Holiday,Yes,78,235
151,07/12/2017,7,NaN,93,0.5,0.0,0.9,Winter,No Holiday,Yes,140,129
...,...,...,...,...,...,...,...,...,...,...,...,...
8669,27/11/2018,5,NaN,84,0.6,0.0,0.0,Autumn,No Holiday,Yes,118,58
8679,27/11/2018,15,NaN,70,2.1,0.0,0.0,Autumn,No Holiday,Yes,391,279
8710,28/11/2018,22,NaN,34,1.3,0.0,0.0,Autumn,No Holiday,Yes,476,558
8717,29/11/2018,5,NaN,34,0.9,0.0,0.0,Autumn,No Holiday,Yes,17,13
8742,30/11/2018,6,NaN,68,0.8,0.0,0.0,Autumn,No Holiday,Yes,11,155

In [26]:
# соединение условий с помощью is
bikes['Seasons'].isin(['Winter', 'Summer'])

0        True
1        True
2        True
3        True
4        True
        ...
8755    False
8756    False
8757    False
8758    False
8759    False
Name: Seasons, Length: 8760, dtype: bool

In [27]:
# использование полученного через isin массива в качестве фильтра
bikes[bikes['Seasons'].isin(['Winter', 'Summer'])].shape

(4368, 12)

In [29]:
# в isin так же можно передавать интервал
bikes[bikes['Temperature'].isin(range(15, 26))]

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
2223,03/03/2018,15,16.0,14,2.2,0.0,0.0,Spring,No Holiday,Yes,965,1236
2225,03/03/2018,17,15.0,22,2.5,0.0,0.0,Spring,No Holiday,Yes,795,925
2496,15/03/2018,0,16.0,69,2.4,0.0,0.0,Spring,No Holiday,Yes,388,449
2773,26/03/2018,13,16.0,47,2.5,0.0,0.0,Spring,No Holiday,Yes,53,261
2778,26/03/2018,18,16.0,33,2.9,0.0,0.0,Spring,No Holiday,Yes,1015,740
...,...,...,...,...,...,...,...,...,...,...,...,...
8127,04/11/2018,15,19.0,25,2.1,0.0,0.0,Autumn,No Holiday,Yes,246,594
8151,05/11/2018,15,18.0,39,1.0,0.0,0.0,Autumn,No Holiday,Yes,179,858
8246,09/11/2018,14,15.0,49,2.8,0.0,0.0,Autumn,No Holiday,No,0,0
8272,10/11/2018,16,16.0,37,1.9,0.0,0.0,Autumn,No Holiday,Yes,205,554
8342,13/11/2018,14,15.0,37,1.6,0.0,0.0,Autumn,No Holiday,Yes,82,405